@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


:root{
  --color-one: #fff;
  --color-two: #141414;
}

html, body{
  font-family: 'Lato', sans-serif;
}
.app-title{
  
  animation: chute .6s ease;
}
.form-control:focus{
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1) !important;
}
.app-title::first-letter{
  background: var(--color-two);
  padding: 5px;
  border-radius: 15px;
  color: var(--color-one);
}

@keyframes chute {
  0%{
    transform: translateY(-150%);
    opacity: 0;
  }
}